# Get the required information here: https://app.tracetest.io/retrieve-token

TRACETEST_TOKEN="token"
TRACETEST_ENVIRONMENT_ID="env"

AVAILABILITY_HOST="availability"

REACT_APP_APP_HOST="host.docker.internal"
REACT_APP_OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://host.docker.internal:4318/v1/traces"

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://tracetest-agent:4318/v1/traces"
