[submodule "jaeger-idl"]
	path = server/external/jaeger-idl
	url = https://github.com/jaegertracing/jaeger-idl.git
[submodule "opentelemetry-proto"]
	path = server/external/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
