# Read full docs here:
# https://grafana.com/docs/grafana-cloud/send-data/otlp/send-data-otlp/

GRAFANA_URL="https://otlp-gateway-prod-us-central-0.grafana.net/otlp/v1/traces"
GRAFANA_AUTH="Basic <base64 instanceID:token>"
