version: '3'
services:

    postgres:
        image: postgres:14
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
        healthcheck:
            test: pg_isready -U "$$POSTGRES_USER" -d "$$POSTGRES_DB"
            interval: 1s
            timeout: 5s
            retries: 60
        ports:
            - 5432:5432

    jaeger:
        image: jaegertracing/all-in-one:1.48.0
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "wget", "--spider", "localhost:16686"]
            interval: 1s
            timeout: 3s
            retries: 60
        ports:
            - 16685:16685
            - 16686:16686

    otel-collector:
        image: otel/opentelemetry-collector:0.54.0
        command:
            - "--config"
            - "/otel-local-config.yaml"
        volumes:
            - ./collector.config.yaml:/otel-local-config.yaml
        depends_on:
            - jaeger
        ports:
            - 4317:4317
