receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:
    timeout: 100ms

  probabilistic_sampler:
    hash_seed: 22
    sampling_percentage: 100

exporters:
  logging:
    loglevel: warn
  jaeger:
    endpoint: jaeger:14250
    tls:
      insecure: true
  otlp/tracetest:
    endpoint: host.docker.internal:4317
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [probabilistic_sampler, batch]
      # exporters: [jaeger, otlp/tracetest, logging]
      exporters: [jaeger]
