# Get the required information here: https://app.tracetest.io/retrieve-token

TRACETEST_TOKEN="<YOUR_TRACETEST_TOKEN>"
TRACETEST_ENVIRONMENT_ID="<YOUR_ENV_ID>"

# https://help.sumologic.com/docs/manage/security/installation-tokens/
SUMOLOGIC_INSTALLATION_TOKEN="<YOUR_SUMOLOGIC_INSTALLATION_TOKEN>"

# https://help.sumologic.com/docs/manage/security/access-keys/#create-an-access-key
SUMO_LOGIC_ACCESS_ID="<YOUR_SUMO_LOGIC_ACCESS_ID>"
SUMO_LOGIC_ACCESS_KEY="<YOUR_SUMO_LOGIC_ACCESS_KEY>"
