version: '3'
services:
  app:
    image: quick-start-nodejs
    build: .
    ports:
      - "8080:8080"
    environment:
      # Tracetest: GRPC
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
      # Tracetest: HTTP
      # - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4318/v1/traces

  otel-collector:
    image: public.ecr.aws/sumologic/sumologic-otel-collector:0.75.0-sumo-0
    volumes:
      - ./collector.config.yaml:/etc/otel/config.yaml
