version: "3.2"
services:
  testrunner:
    image: kubeshop/tracetest-testrunner
    build:
      context: .
      dockerfile: testrunner.Dockerfile
    environment:
      - TARGET_URL=http://tracetest:8080
      - TRACETEST_MAIN_ENDPOINT=tracetest:8080
      - TRACETEST_TARGET_ENDPOINT=tracetest:8080
      - DEMO_APP_URL=http://demo-api:8081
      - DEMO_APP_GRPC_URL=demo-rpc:8082
    depends_on:
      tracetest:
        condition: service_healthy
      demo-api:
        condition: service_healthy
      demo-rpc:
        condition: service_healthy
      - tracetest
  cypress:
    image: cypress/browsers:node16.14.2-slim-chrome100-ff99-edge
    entrypoint: [ "/bin/sh", "-c" , "npm ci && npx cypress run --config baseUrl=http://tracetest:8080" ]
    working_dir: /e2e
    command:
      - npm ci
    build:
      context: .
    volumes:
      - ./web/package.json:/e2e/package.json
      - ./web/tsconfig.json:/e2e/tsconfig.json
      - ./web/package-lock.json:/e2e/package-lock.json
      - ./web/cypress.config.js:/e2e/cypress.config.js
      - ./web/cypress:/e2e/cypress
      - ./web/src:/e2e/src
    depends_on:
      - tracetest
