postgresConnString: "host=postgres user=postgres password=postgres port=5432 sslmode=disable"
jaegerConnectionConfig:
  endpoint: jaeger-query:16685
  tls:
    insecure: true

poolingConfig:
  maxWaitTimeForTrace: 30s
  retryDelay: 500ms

googleAnalytics:
  enabled: true

telemetry:
  enabled: true
  serviceName: tracetest
  sampling: 100 # 100%
  otelCollectorEndpoint: otel-collector:4317
