postgresConnString: "host=postgres user=postgres password=postgres port=5432 sslmode=disable"
jaegerConnectionConfig:
  endpoint: jaeger-query:16685
  tls:
    insecure: true

maxWaitTimeForTrace: 30s

googleAnalytics:
  enabled: false
  measurementId: ""
  secretKey: ""

telemetry:
  serviceName: tracetest
  jaeger:
    endpoint: localhost:6832
  exporters:
    - console
    - jaeger