postgres:
  host: postgres
  user: postgres
  password: postgres
  port: 5432
  dbname: tracetest
  params: sslmode=disable

poolingConfig:
  maxWaitTimeForTrace: 30s
  retryDelay: 500ms

googleAnalytics:
  enabled: true

demo:
  enabled: [pokeshop, otel]
  endpoints:
    pokeshopHttp: http://demo-api:8081
    pokeshopGrpc: demo-api:8082
    otelFrontend: http://otel-frontend:8084
    otelProductCatalog: otel-productcatalogservice:3550
    otelCart: otel-cartservice:7070
    otelCheckout: otel-checkoutservice:5050

experimentalFeatures: []

telemetry:
  dataStores:
    jaeger:
      type: jaeger
      jaeger:
        endpoint: jaeger-query:16685
        tls:
          insecure: true

    tempo:
      type: tempo
      tempo:
        endpoint: tempo:9095
      tls:
        insecure: true

  exporters:
    collector:
      serviceName: tracetest
      sampling: 100 # 100%
      exporter:
        type: collector
        collector:
          endpoint: localhost:4317

server:
  telemetry:
    exporter: collector
    dataStore: jaeger
