# Get the required information here: https://app.tracetest.io/retrieve-token

TRACETEST_TOKEN="<TRACETEST_TOKEN>"
TRACETEST_ENVIRONMENT_ID="<TRACETEST_ENVIRONMENT_ID>"

# GRPC
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://tracetest-agent:4317/"
# or, use HTTP
# OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://tracetest-agent:4318/v1/traces"
