receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
  azuremonitor:
    instrumentation_key: ${INSTRUMENTATION_KEY}
  otlp/tracetest-agent:
    endpoint: tracetest-agent:4317
    tls:
      insecure: true

service:
  pipelines:
    traces/tracetest:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tracetest, otlp/tracetest-agent]
    traces/appinsights:
      receivers: [otlp]
      exporters: [azuremonitor]
