@import '~antd/dist/antd.less';

@font-face {
  font-family: SFPro;
  src: url('../public/SF-Pro-Text-Regular.otf') format('opentype');
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: #fbfbff;
}

body {
  margin: 0;
  color: #031849;
  font-family: SFPro, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background: #fbfbff;
}

.ant-typography {
  && {
    color: #031849;
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #fbfbff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
