@import '~antd/dist/antd.less';

@font-face {
  font-family: SFPro;
  font-weight: normal;
  src: url('../public/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: SFPro;
  font-weight: 600;
  src: url('../public/SF-Pro-Text-Semibold.otf') format('opentype');
}

@font-face {
  font-family: SFPro;
  font-weight: bold;
  src: url('../public/SF-Pro-Text-Bold.otf') format('opentype');
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: SFPro, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: inherit;
}
