openapi: 3.0.0
components:
  schemas:
    Config:
      type: object
      properties:
        telemetry:
          $ref: "#/components/schemas/TelemetryConfig"
        server:
          $ref: "#/components/schemas/Server"
    TelemetryConfig:
      type: object
      properties:
        dataStores:
          type: array
          items:
            $ref: "#/components/schemas/DataStore"
        exporters:
          type: array
          items:
            $ref: "#/components/schemas/ExporterOption"
    ExporterOption:
      type: object
      properties:
        serviceName:
          type: string
        sampling:
          type: number
        exporter:
          $ref: "#/components/schemas/Exporter"
    Exporter:
      type: object
      properties:
        type:
          type: string
        collector:
          $ref: "#/components/schemas/CollectorConfig"
    CollectorConfig:
      type: object
      properties:
        endpoint:
          type: string
    DataStore:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/SupportedDataStores"
        jaeger:
          $ref: "#/components/schemas/GRPCClientSettings"
        tempo:
          $ref: "#/components/schemas/GRPCClientSettings"
        openSearch:
          $ref: "#/components/schemas/OpenSearch"
        signalFx:
          $ref: "#/components/schemas/SignalFX"
    UpdateDataStoreConfigRequest:
      type: object
      properties:
        dataStores:
          type: array
          items:
            $ref: "#/components/schemas/DataStore"
        defaultDataStore:
          $ref: "#/components/schemas/SupportedDataStores"
    OpenSearch:
      type: object
      properties:
        addresses:
          type: array
          items:
            type: string
        username:
          type: string
        password:
          type: string
        index:
          type: string
    SignalFX:
      type: object
      properties:
        realm:
          type: string
        token:
          type: string
    GRPCClientSettings:
      type: object
      properties:
        endpoint:
          type: string
        readBufferSize:
          type: number
        writeBufferSize:
          type: number
        waitForReady:
          type: boolean
        headers:
          type: array
          items:
            $ref: "./http.yaml#/components/schemas/HTTPHeader"
        balancerName:
          type: string
        compression:
          type: string
          enum:
            - "gzip"
            - "zlib"
            - "deflate"
            - "snappy"
            - "zstd"
            - "none"
            - ""
        tls:
          $ref: "#/components/schemas/TLS"
        auth:
          $ref: "./http.yaml#/components/schemas/HTTPAuth"
    TLS:
      type: object
      properties:
        insecure:
          type: boolean
        insecureSkipVerify:
          type: boolean
        serverName:
          type: string
        settings:
          $ref: "#/components/schemas/TLSSetting"
    TLSSetting:
      type: object
      properties:
        cAFile:
          type: string
        certFile:
          type: string
        keyFile:
          type: string
        minVersion:
          type: string
        maxVersion:
          type: string
    TestConnectionRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - datastore
            - exporter
        info:
          type: object
          properties:
            jaeger:
              $ref: "#/components/schemas/GRPCClientSettings"
            tempo:
              $ref: "#/components/schemas/GRPCClientSettings"
            openSearch:
              $ref: "#/components/schemas/OpenSearch"
            signalFx:
              $ref: "#/components/schemas/SignalFX"
            collector:
              $ref: "#/components/schemas/CollectorConfig"
    TestConnectionResponse:
      type: object
      properties:
        successful:
          type: boolean
        errorMessage:
          type: string
    Server:
      type: object
      properties:
        telemetry:
          type: object
          properties:
            exporter:
              type: string
            applicationExporter:
              type: string
            dataStore:
              $ref: "#/components/schemas/SupportedDataStores"
    SupportedDataStores:
      type: string
      enum: [jaeger, openSearch, tempo, signalFx]
