name: docusaurus

on:
  push:
  # TODO: uncomment this
    # branches:
    #   - main
    paths:
      - "docs/**"
      - "api/*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out repo
        uses: actions/checkout@v2

      # Go is required to generate cli docs
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.work'
          cache: true
          cache-dependency-path: go.work
      # Node is required for npm
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      # build CLI docs
      - name: Build Docusaurus website
        run: |
          cd cli
          make docgen

      # Install and build Docusaurus website
      - name: Build Docusaurus website
        run: |
          cd docs
          npm install
          npm run build
      # Install and build Docusaurus website
      - name: Build Docusaurus website
        run: |
          cd docs
          npm install
          npm run build
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: docs/build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
