on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - api/**
      - cli/**

name: run CLI tests
jobs:
  gotest:
    strategy:
      matrix:
        go-version: [1.17.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install prism
        run: npm install -g @stoplight/prism-cli
      - name: Install openapi-generator-cli
        run: npm install -g @openapitools/openapi-generator-cli
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run tests
        run: cd cli; make test